*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}

.title{
    border: 10px solid white  ;
    max-width: 700px;
    margin:auto;
    height :50px;
    display:flex;
    align-items: center;
    justify-content: center;

}
.circle{
 width : 30px;
 height: 30px;
 display:flex;
 border-radius:30px ;
 justify-content:flex-end;
 align-items:flex-end;
 background-color: darkblue;
 position: absolute;
 text-align: right;
}
.circle p {
  text-align: center;
}
.search-bar {
    display: flex;
    justify-content: center;
    padding: 24px;
    border-color: black;
    border-radius: 0ch;

  }
  .search-bar input {
    width: 50%;
    min-width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    border: 10px;
    border-color: black;
    outline: auto;
  }
  
  .search-bar button {
    background-color: blue ;
    color: white;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
  }
  #results {
    margin-top: 20px;
  }
  
  #results .book {
    margin-bottom: 20px;
  }
  
  #results .book img {
    width: 100px;
    height: 150px;
    object-fit: cover;
  }
  
  #results .book .title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #results .book .author {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
  }